<div>
    <h1>Products View</h1>
    <div style="display: flex; flex-wrap: wrap; gap: 10px;">
        
        {{#each products.productsObjects}}

        <div style="border: solid black 1px; border-radius: 5px; display: flex; flex-direction: column; align-items: center;">


            <div style="margin: 20px;">
                ID: {{this._id}} <br>
                Titulo: {{this.title}} <br>
                Descripcion: {{this.description}}<br>
                Codigo: {{this.code}}<br>
                Precio: {{this.price}}<br>
                Status: {{this.status}}<br>
                Stock: {{this.stock}}<br>
                Categoria: {{this.category}}<br>
                Thumbnails: {{this.thumbnails}}<br>

                
            </div>

            

            <div>

                <button style="margin: 5px;"> <a href="http://localhost:8080/productsview/{{this._id}}">Ir a producto</a> </button>
            </div>
        </div>
        {{/each}}
    </div>


    <div style="display: flex; align-items: center; gap: 10px;">
        {{#if products.hasPrevPage}}
             <a href={{products.prevLink}}> Anterior</a>
        {{/if}}


        <p id="paginaActual"> {{products.page}} </p> 

        {{#if products.hasNextPage}}
             <a href={{products.nextLink}}> Siguiente</a>
        {{/if}}
    </div>
    

</div>

<h2> <a href="http://localhost:8080/cartsview">Ir a Carrito</a></h2>    
